body{
    margin: 0;
}

.wrapper{
    width: 95%;
    margin: 0 auto;
    max-width: 76em;
}

header.wrapper{
    text-align: right;
}

ul{
    list-style: none;
    text-align: left;
    padding: 0;
}

nav ul li{
    display: inline-block;
    margin-left: 2rem;
}

a{
    text-decoration: none;
}

.col{
    float: left;
    box-sizing: border-box;
    padding: 0 .6875em 1.375em;
}

.flexbox .row{
    display: flex;
    flex: 1;
}

.row{
    margin: 0 -11px;
    margin: 0 -0.6975rem;
}

.row::after{
    content: '';
    display: block;
    clear: both;
}

.row-tri > *{
    width: 33.3%;
}

.row-quart > *{
    width: 25%;
}

.flexwrap .row-wrapping{
    display: flex;
    flex-wrap: wrap;
}

.row-wrapping{
    font-size: 0;
    margin: 0 -11px;
    margin: 0 -0.6975rem;
}

.row-wrapping > * {
    float: none;
    display: inline-block;
    font-size: 16px;
    font-size: 1rem;
}

.subcategory-header{
    width: 20%;
}

.subcategory-content{
    width: 80%;
}

.subcategory-feature{
    width: 50%;
}

.story{
    padding: .6875em;
}

.story > img{
    width: 100%;
    height: auto;
}

.col-ads{
    height: 300px;
}

.ad::before{
    content: '';
    display: inline-block;
    vertical-align: middle;
    height: 100%;
}

.col-ads > * {
    height: 15%;
    background: rgba(0, 0, 0, .1);
    margin: .6875em 0;
    text-align: center;
}

.ad-feature{
    height: 50%;
}

.flexbox .col-ads{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.flexbox .ad{
    display: flex;
    justify-content: center;
    align-items: center;
}
