@import url('small.css') only screen and (min-width: 35em);
@import url('medium.css') only screen and (min-width: 50em);
@import url('large.css') only screen and (min-width: 75em);

.body, ul{
    margin: 0;
    padding: 0;
}

.wrapper{
    width: 95%;
    margin: 0 auto;
    max-width: 80em;
}

nav ul{
    list-style: none;
    font-size: 0;
}

nav ul > li{
    display: inline-block;
    font-size: 16px;
    font-size: 1rem;
    text-align: center;
    width: 20%;
}

.flexbox nav ul {
    display: flex;
}

.flexbox nav ul > li{
    flex: 1;
}

ul.row-wrapping{
    list-style: none;
}

a {
    text-decoration: none;
}

.ad{
    text-align: center;
    padding: .5em;
}

.story > img{
    width: 100%;
    height: auto;
}