.row{
    margin: 0 -.675em;
}

.row::after{
    display: block;
    content: '';
    clear: both;
}

.col{
    float: left;
    box-sizing: border-box;
    padding: 0 .6875em 1.375em;
    width: 100%;
}

.flexwrap .row{
    display: flex;
    flex-wrap: wrap;
}

.row-wrapping{
    font-size: 0;
}

.row-wrapping .col{
    float: none;
    font-size: 16px;
    font-size: 1rem;
    display: inline-block;
}

.flexwrap .row-wrapping{
    display: flex;
    flex-wrap: wrap;
}

.row-quartet > *{
    width: 50%;
}

.subcategory-feature{
    width: 100%;
}

.ad::before{
    display: inline-block;
    content: '';
    height: 100%;
    vertical-align: middle;
}