@keyframes moveInLeft {
  from {
    opacity: 0;
    transform: translateX(-10%); }
  80% {
    transform: translateX(2%); } }

@keyframes moveInRight {
  from {
    opacity: 0;
    transform: translateX(20%); }
  80% {
    transform: translateX(-2%); } }

@keyframes moveInBottom {
  from {
    opacity: 0;
    transform: translateY(200%); } }

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  font-size: 62.5%; }

body {
  box-sizing: border-box; }

body {
  font-family: 'Lato', sans-serif;
  font-weight: 400;
  line-height: 1.7;
  color: #777; }

.header-primary--main, .header-primary--sub {
  display: block;
  text-transform: uppercase;
  color: #fff;
  backface-visibility: hidden; }

.header-primary {
  margin-bottom: 3rem; }
  .header-primary--main {
    font-size: 4rem;
    letter-spacing: 2rem;
    animation: moveInLeft 2s ease-out; }
  .header-primary--sub {
    font-size: 1.6rem;
    letter-spacing: 1rem;
    animation: moveInRight 2s ease-out; }

.header-secondary {
  font-size: 3.5rem;
  text-transform: uppercase;
  font-weight: 700;
  letter-spacing: .2rem;
  background: linear-gradient(to right, #7ed56f, #28b485);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
  transition: all .2s ease-in; }
  .header-secondary:hover {
    transform: skewY(2deg) skewX(15deg) scale(1.1);
    text-shadow: 0.5rem 1rem 1.5rem rgba(0, 0, 0, 0.2); }

.header-tertiary {
  font-size: 1.6rem;
  font-weight: 700;
  text-transform: uppercase; }

.paragraph {
  font-size: 1.6rem; }

.u-margin-bottom-big {
  margin-bottom: 8rem !important; }

.u-margin-bottom-medium {
  margin-bottom: 4rem !important; }

.u-margin-bottom-small {
  margin-bottom: 1.5rem !important; }

.u-center-text {
  text-align: center !important; }

.u-margin-top-big {
  margin-top: 8rem !important; }

.btn, .btn:link, .btn:visited {
  position: relative;
  display: inline-block;
  padding: 1rem 2rem;
  text-decoration: none;
  text-transform: uppercase;
  border-radius: 100rem;
  transition: all .2s;
  font-size: 1.6rem;
  border: none;
  cursor: pointer; }

.btn:hover {
  transform: translateY(-0.4rem);
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2); }
  .btn:hover::after {
    transform: scaleX(1.4) scaleY(1.8);
    opacity: 0; }

.btn:active, .btn:focus {
  outline: none;
  transform: translateY(-0.1rem);
  box-shadow: 0 0.2rem 0.5rem rgba(0, 0, 0, 0.2); }

.btn.btn--white {
  background: #fff;
  color: #777; }
  .btn.btn--white::after {
    background: #fff; }

.btn.btn--green {
  background: #55c57a;
  color: #fff; }
  .btn.btn--green::after {
    background: #55c57a; }

.btn.btn--animated {
  animation: moveInBottom .5s 1s ease-out backwards; }

.btn::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: -1;
  border-radius: 100rem;
  transition: all .4s; }

.btn-text:link, .btn-text:visited {
  font-size: 1.6rem;
  color: #55c57a;
  display: inline-block;
  text-decoration: none;
  border-bottom: 0.1rem solid #55c57a;
  padding: .3rem;
  transition: all .2s ease-in; }

.btn-text:hover {
  background: #55c57a;
  color: #fff;
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.15);
  transform: translateY(-0.2rem); }

.btn-text:active {
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
  transform: translateY(0); }

.bg-video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  opacity: .15;
  overflow: hidden; }
  .bg-video video {
    width: 100%;
    height: 100%;
    object-fit: cover; }

.composition {
  position: relative; }
  .composition__photo {
    width: 55%;
    box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.4);
    position: absolute;
    transition: all .2s ease-in;
    outline-offset: 2rem; }
    .composition__photo--p1 {
      top: -2rem;
      left: 0; }
    .composition__photo--p2 {
      top: 2rem;
      right: 0; }
    .composition__photo--p3 {
      top: 10rem;
      left: 20%; }
    .composition__photo:hover {
      outline: 1.5rem solid #55c57a;
      transform: scale(1.05) translateY(-0.5rem);
      box-shadow: 0 2.5rem 4rem rgba(0, 0, 0, 0.5);
      z-index: 20; }
  .composition:hover .composition__photo:not(:hover) {
    transform: scale(0.95); }

.card {
  position: relative;
  perspective: 150rem; }
  .card__side {
    box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.15);
    border-radius: .3rem;
    height: 52rem;
    overflow: hidden; }
    .card__side--front {
      transition: transform .8s ease-in-out; }
    .card__side--back {
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      transform: rotateY(-180deg);
      transition: transform .8s ease-in-out; }
      .card__side--back--1 {
        background: linear-gradient(to right bottom, #ffb900, #ff7730); }
      .card__side--back--2 {
        background: linear-gradient(to right bottom, #7ed56f, #28b485); }
      .card__side--back--3 {
        background: linear-gradient(to right bottom, #2998ff, #5643fa); }
  .card:hover .card__side--front {
    transform: rotateY(180deg); }
  .card:hover .card__side--back {
    transform: rotateY(0); }
  .card__details {
    list-style: none;
    width: 80%;
    margin: 0 auto;
    padding: 3rem; }
    .card__details li {
      text-align: center;
      font-size: 1.5rem;
      text-transform: uppercase;
      padding: 1rem; }
      .card__details li:not(:last-child) {
        border-bottom: 1px solid #eee; }
  .card__picture {
    background-size: cover;
    background-blend-mode: screen;
    height: 23rem;
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 85%, 0% 100%);
    clip-path: polygon(0 0, 100% 0, 100% 85%, 0% 100%); }
    .card__picture--1 {
      background-image: linear-gradient(to right bottom, #ffb900, #ff7730), url(../../img/nat-5.jpg); }
    .card__picture--2 {
      background-image: linear-gradient(to right bottom, #7ed56f, #28b485), url(../../img/nat-6.jpg); }
    .card__picture--3 {
      background-image: linear-gradient(to right bottom, #2998ff, #5643fa), url(../../img/nat-7.jpg); }
  .card__heading {
    font-size: 2.8rem;
    font-weight: 300;
    text-transform: uppercase;
    color: #fff;
    position: absolute;
    top: 12rem;
    right: 2rem;
    text-align: end;
    width: 75%; }
  .card__heading--span {
    padding: 1rem 1.5rem;
    box-decoration-break: clone; }
    .card__heading--span--1 {
      background: linear-gradient(to right bottom, rgba(255, 185, 0, 0.85), rgba(255, 119, 48, 0.85)); }
    .card__heading--span--2 {
      background: linear-gradient(to right bottom, rgba(126, 213, 111, 0.85), rgba(40, 180, 133, 0.85)); }
    .card__heading--span--3 {
      background: linear-gradient(to right bottom, rgba(41, 152, 255, 0.85), rgba(86, 67, 250, 0.85)); }
  .card__order {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #fff; }
    .card__order__header {
      font-size: 1.4rem;
      text-transform: uppercase;
      text-align: center; }
    .card__order__price {
      font-size: 6rem;
      font-weight: 100;
      margin-bottom: 6rem; }
  .card > * {
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden; }

.feature-box {
  background: rgba(255, 255, 255, 0.8);
  font-size: 1.5rem;
  text-align: center;
  border-radius: .3rem;
  padding: 2.5rem;
  box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.5);
  transition: transform .3s ease-in; }
  .feature-box:hover {
    transform: translateY(-1.05rem) scale(1.03); }
  .feature-box__icon {
    font-size: 6rem;
    display: inline-block;
    margin-bottom: .5rem;
    background: linear-gradient(to right, #7ed56f, #28b485);
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent; }

.story {
  width: 75%;
  margin: 0 auto;
  margin-bottom: 8rem;
  box-shadow: 0 3rem 6rem rgba(0, 0, 0, 0.1);
  background: rgba(255, 255, 255, 0.6);
  border-radius: .3rem;
  padding: 6rem;
  font-size: 1.6rem;
  transform: skewX(-12deg); }
  .story > * {
    transform: skewX(12deg); }
  .story__shape {
    position: relative;
    width: 15rem;
    height: 15rem;
    float: left;
    -webkit-shape-outside: circle(50% at 50% 50%);
    shape-outside: circle(50% at 50% 50%);
    -webkit-clip-path: circle(50% at 50% 50%);
    clip-path: circle(50% at 50% 50%);
    transform: skewX(12deg) translateX(-3rem);
    background: red; }
    .story__shape img {
      height: 100%;
      transform: scale(1.4);
      transition: all .2s ease-in; }
    .story__shape figcaption {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, 0);
      color: #fff;
      text-transform: uppercase;
      font-size: 1.7rem;
      text-align: center;
      opacity: 0;
      transition: all .2s ease-in; }
  .story:hover figcaption {
    opacity: 1;
    transform: translate(-50%, -50%); }
  .story:hover img {
    transform: scale(1);
    filter: blur(0.3rem) brightness(80%); }

.form {
  padding: 2rem;
  color: #777; }
  .form__group {
    margin-bottom: 2rem; }
  .form__input {
    font-size: 1.5rem;
    font-family: inherit;
    color: inherit;
    padding: 1.5rem 2rem;
    border-radius: .2rem;
    font-size: 1.6rem;
    border: none;
    background: rgba(255, 255, 255, 0.5);
    border-bottom: .3rem solid transparent;
    width: 90%;
    display: block;
    transition: all .3s; }
    .form__input:focus {
      outline: none;
      box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.1);
      border-bottom: 0.3rem solid #55c57a; }
      .form__input:focus:invalid {
        border-bottom: 0.3rem solid #ff7730; }
    .form__input::placeholder {
      color: #999; }
  .form__label {
    font-size: 1.2rem;
    font-weight: 700;
    margin-left: 2rem;
    margin-top: .7rem;
    display: block;
    transition: all .3s; }
  .form__input:placeholder-shown + .form__label {
    opacity: none;
    visibility: hidden;
    transform: translateY(-4rem); }
  .form__radio-group {
    width: 48%;
    display: inline-block;
    position: relative; }
    .form__radio-group label {
      font-size: 1.6rem;
      cursor: pointer;
      padding-left: 2rem; }
    .form__radio-group input {
      opacity: 0; }
    .form__radio-group input:checked + label .form__radio-btn::after {
      opacity: 1; }
  .form__radio-btn {
    height: 3rem;
    width: 3rem;
    border: 0.5rem solid #55c57a;
    border-radius: 50%;
    display: inline-block;
    position: absolute;
    top: 0;
    left: 0; }
    .form__radio-btn::after {
      content: '';
      height: 1.3rem;
      width: 1.3rem;
      border-radius: 50%;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      background-color: #55c57a;
      opacity: 0;
      transition: opacity .2s; }

.popup {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9999;
  width: 100%;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.8);
  opacity: 0;
  visibility: hidden;
  transition: all .3s; }
  .popup:target {
    opacity: 1;
    visibility: visible; }
  .popup:target .popup__content {
    opacity: 1;
    transform: translate(-50%, -50%) scale(1); }
  .popup__content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 75%;
    background-color: #fff;
    box-shadow: 0 2rem 4rem rgba(0, 0, 0, 0.2);
    border-radius: .3rem;
    display: table;
    overflow: hidden;
    opacity: 0;
    transform: translate(-50%, -50%) scale(0.25);
    transition: all .5s .2s; }
  .popup__left {
    width: 33.333%;
    display: table-cell; }
    .popup__left img {
      display: block;
      width: 100%; }
  .popup__right {
    width: 66.66%;
    display: table-cell;
    vertical-align: middle;
    padding: 3rem 5rem; }
  .popup__text {
    font-size: 1.4rem;
    margin-bottom: 4rem;
    column-count: 2;
    column-gap: 4rem;
    column-rule: 1px solid #eee;
    hyphens: auto; }
  .popup__close:link, .popup__close:visited {
    color: #777;
    position: absolute;
    top: 2.5rem;
    right: 2.5rem;
    font-size: 3rem;
    text-decoration: none;
    display: inline-block;
    line-height: 1rem; }
  .popup__close:hover {
    color: #55c57a; }

.footer {
  background-color: #333;
  padding: 10rem 0;
  font-size: 1.4rem; }
  .footer__logo-box {
    text-align: center;
    margin-bottom: 8rem; }
    .footer__logo-box img {
      width: 15rem; }
  .footer__navigation {
    list-style: none;
    border-top: 1px solid #777;
    display: inline-block;
    padding: 2rem; }
    .footer__navigation li {
      display: inline-block; }
      .footer__navigation li:not(:last-child) {
        margin-right: 1.5rem; }
  .footer__copyright {
    border-top: 1px solid #777;
    padding: 2rem;
    color: #f7f7f7;
    width: 80%;
    float: right; }
  .footer a:link,
  .footer a:visited {
    text-decoration: none;
    text-transform: uppercase;
    background-color: #333;
    color: #f7f7f7;
    transition: all .2s;
    display: inline-block; }
  .footer a:hover,
  .footer a:active {
    color: #55c57a;
    box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.4);
    transform: rotate(5deg) scale(1.3); }

.header {
  position: relative;
  height: 95vh;
  background: linear-gradient(to right bottom, rgba(126, 213, 111, 0.801), rgba(40, 180, 133, 0.801)), url("../img/hero.jpg") top/cover;
  -webkit-clip-path: polygon(0 0, 100% 0, 100% 75vh, 0 100%);
  clip-path: polygon(0 0, 100% 0, 100% 75vh, 0 100%); }
  .header__logo-box {
    position: absolute;
    top: 2rem;
    left: 2rem; }
  .header__logo {
    height: 2rem; }
  .header__text-box {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center; }

.row {
  max-width: 114rem;
  margin: 0 auto; }
  .row:not(:last-child) {
    margin-bottom: 1rem; }
  .row--duet > * {
    width: 50%; }
  .row--trio > * {
    width: 33.3%; }
  .row--quartet > * {
    width: 25%; }
  .row::after {
    content: '';
    display: block;
    clear: both; }

.col {
  float: left;
  padding: 0 2rem; }

.wrapper {
  width: 97%;
  margin: 0 auto; }

.section-about {
  background: #f7f7f7;
  padding: 25rem 0;
  margin-top: -20vh; }

.section-features {
  padding: 25rem 0;
  background: linear-gradient(to right bottom, rgba(126, 213, 111, 0.801), rgba(40, 180, 133, 0.801)), url("../img/hero.jpg") top/cover;
  transform: skewY(-7deg);
  margin-top: -10rem; }
  .section-features > * {
    transform: skewY(7deg); }

.section-tours {
  background: #f7f7f7;
  padding: 25rem 0 15rem;
  margin-top: -10rem; }

.section-stories {
  position: relative;
  padding: 15rem 0; }

.section-book {
  padding: 15rem 0;
  background-image: linear-gradient(to right bottom, #7ed56f, #28b485); }

.book {
  background-image: linear-gradient(105deg, rgba(255, 255, 255, 0.9) 50%, transparent 50%), url(/img/nat-10.jpg);
  background-size: cover;
  border-radius: .3rem;
  box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.15); }
  .book__form {
    width: 55%;
    padding: 6rem; }
