.form {
    padding: 2rem;
    color: $color-gray-dark;

    &__group {
        margin-bottom: 2rem;
    }

    &__input {
        font-size: 1.5rem;
        font-family: inherit;
        color: inherit;
        padding: 1.5rem 2rem;
        border-radius: .2rem;
        font-size: $default-font-size;
        border: none;
        background: rgba($color-white, .5);
        border-bottom: .3rem solid transparent;
        width: 90%;
        display: block;
        transition: all .3s;

        &:focus {
            outline: none;
            box-shadow: 0 1rem 2rem rgba($color-black, .1);
            border-bottom: .3rem solid $color-primary;

            &:invalid {
                border-bottom: .3rem solid $color-secondary-dark;
            }
        }

        &::placeholder{
            color: $color-gray-dark-2;
        }
    }

    &__label {
        font-size: 1.2rem;
        font-weight: 700;
        margin-left: 2rem;
        margin-top: .7rem;
        display: block;
        transition: all .3s;
    }

    &__input:placeholder-shown + &__label {
        opacity: none;
        visibility: hidden;
        transform: translateY(-4rem);
    }

    &__radio-group {
        width: 48%;
        display: inline-block;
        position: relative;

        label {
            font-size: $default-font-size;
            cursor: pointer;
            padding-left: 2rem;
        }

        input {
            opacity: 0;
        }

        input:checked + label .form__radio-btn::after {
            opacity: 1;
        }
    }

    &__radio-btn {
        height: 3rem;
        width: 3rem;
        border: .5rem solid $color-primary;
        border-radius: 50%;
        display: inline-block;
        position: absolute;
        top: 0;
        left: 0;

        &::after {
            content: '';
            height: 1.3rem;
            width: 1.3rem;
            border-radius: 50%;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            background-color: $color-primary;
            opacity: 0;
            transition: opacity .2s;
        }
    }
}